div.Destinations {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 200px;

  h1 {
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 12px 62px;
    font-size: 32px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    
 
 }

  p{
    padding: 20px;
  }

  .flex_cont{
    display: flex;

    .Destinationscol {
      flex-basis: 31%;
      border-radius: 10px;
      margin-bottom: 5%;
      text-align: left;
      padding: 20px;
      margin-left: 40px;

      img {
        width: 100%;
        border-radius: 10px;
      }

      p {
        padding: 0;
      }

     h3 {
        margin-top: 16px;
        margin-bottom: 15px;
        text-align: left;


        a{
          text-decoration: none;
          color: black;
        }
        a:hover{
          color: rgb(49, 44, 44);
          text-decoration:underline;
        }
    
     }

    }
  }
}

@media only screen and (max-width: 1000px) {

div.Destinations {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 0px;

  h1 {
    font-weight: 200;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    

  }

  p {
    padding: 28px;
    font-size: 12px;
    
  }

  .flex_cont {
    display: flex;
    flex-direction: column;
    margin-right: 40px;

    .Destinationscol {
      flex-basis: 31%;
      border-radius: 10px;
      margin-bottom: 5%;
      text-align: left;
      padding: 20px;
     

      img {
        width: 100%;
        border-radius: 10px;
      }

      p {
        padding: 0;
      }

      h3 {
        margin-top: 16px;
        margin-bottom: 15px;
        text-align: left;

      }

    }
  }
}










}
