div.page {


  
  div.holder {
    position: relative;
    display: flex;
    margin-top: 100px;
  
  
    div.map {
      display: flex;
      align-self: flex-start;
      margin-left: 20px;
      margin-top: 40px;
      border: 2px solid black;
      position: sticky;
      top: 20px;
    }
  }



  div.data{
    width: 45%;
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  
    
  }

  div.choose {

    h1 {
      font-weight: 600;
      border-radius: 10px;
      display: inline-block;
      text-decoration: none;
      color: black;
      border: 3px solid black;
      padding: 12px 40px;
      font-size: 32px;
      background: transparent;
      position: relative;
      cursor: pointer;
      margin-left: 38.5%;
      margin-top:  30px;
      margin-bottom: 40px;
    }
  }

div.cruisepage {
  min-height: 65vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 17, 19, 0.5), rgba(4, 9, 30, 0.3)), url('/car_rental.jpg');
  background-position: 10% 90%;
  background-size: cover;
  position: relative;
  font-family: Gabriola;
  opacity: 100%;




  h1{
    font-size: 100px;
    color: white;
    position: relative;
    text-align: center;
    top: 230px;
  }
  h2{
    font-size: 30px;
    color: white;
    text-align: center;
    position: relative;
    top: 230px;
  }
}
}

@media only screen and (max-width: 750px) {

  div.page {
    position: relative;

    div.cruisepage {
      min-height: 65vh;
      width: 100%;
      background-image: linear-gradient(rgba(4, 17, 19, 0.5), rgba(4, 9, 30, 0.3)), url('/car_rental.jpg');
      background-position: 10% 90%;
      background-size: cover;
      position: relative;
      font-family: Gabriola;
      opacity: 100%;




      h1 {
        font-size: 60px;
        color: white;
        position: relative;
        text-align: center;
        top: 200px;
      }

      h2 {
        font-size: 20px;
        color: white;
        text-align: center;
        position: relative;
        top: 180px;
      }
    }


    div.holder {
      position: relative;
      display: flex;
      margin-top: 100px;
      height: 0px;

      div.map {
        opacity: 0;
        display: absolute;
        align-self: flex-start;

        margin-left: 20px;
        margin-top: 40px;
        border: 2px solid black;
        position: relative;
        top: 20px;



      }

      div.data {
        width: 40%;
        height: 300px;
        display: grid;
        grid-template-columns: 1fr;

      }
    }













  }
}


@media only screen and (max-width: 1000px) {

  div.map {
    opacity: 0;
    display: absolute;
    align-self: flex-start;

    margin-left: 20px;
    margin-top: 40px;
    border: 2px solid black;
    position: relative;
    top: 20px;



  }
}